/* Pre-Firefox 29 sizes - 16 for small, 24 for large */
#stylem-toolbar-button {
	list-style-image: url("chrome://stylem/skin/24.png");
}
toolbar[iconsize="small"] #stylem-toolbar-button {
	list-style-image: url("chrome://stylem/skin/16.png");
}

#stylem-toolbar-button:not([styles-applied~="site"]) {
	list-style-image: url("chrome://stylem/skin/24w.png");
}
toolbar[iconsize="small"] #stylem-toolbar-button:not([styles-applied~="site"]) {
	list-style-image: url("chrome://stylem/skin/16w.png");
}

/* Firefox 29+ sizes - 16 on the toolbar, 32 elsewhere */
#stylem-toolbar-button[cui-areatype="menu-panel"], toolbarpaletteitem[place="palette"] > #stylem-toolbar-button {
    list-style-image: url("chrome://stylem/skin/32.png");
}

/* Things that don't make sense in a non-browser */
#messengerWindow #stylem-find-styles, #messengerWindow #stylem-write-style-menu {
	display: none;
}

#stylem-toolbar-button .toolbarbutton-menu-dropmarker {
	display: none;
}
/* On Windows this is 17px, which makes it look weird when the dropmarker is gone */
#nav-bar #stylem-toolbar-button > .toolbarbutton-icon {
	-moz-padding-end: 7px !important;
}
